### Analysis of an extract of IRS Form 990-EZ

Analysis of an excerpt of 10,000 organizations which provides information regarding the IRS Form 990 EZ submissions. 

IRS Form 990-EZ is a tax form that tax-exempt organizations must file annually with the Internal Revenue Service (IRS). This form is a shorter version of Form 990, which is the full tax return form for tax-exempt organizations.

To be eligible to file Form 990-EZ, an organization must have annual gross receipts of less than $200,000 and total assets of less than $500,000. If an organization's gross receipts or total assets exceed these thresholds, it must file the full Form 990 instead.

Form 990-EZ requires organizations to provide information about their mission, governance, finances, and programs. This includes details about the organization's revenue, expenses, assets, and liabilities, as well as information about its officers, directors, and key employees.

In general, Form 990-EZ requires less information than the full Form 990, but it still requires a significant amount of detail. Organizations must take care to provide accurate and complete information on the form, as errors or omissions can lead to penalties or other consequences.

IRS Form 990 EZ for reference: https://www.irs.gov/pub/irs-pdf/f990ez.pdf

In [236]:
#Libraries
import pandas as pd
pd.set_option('display.float_format', '{:.2f}'.format)
from scipy import stats
import collections

In [196]:
# Import data
df = pd.read_excel('data.xlsx')

In [198]:
# Dataset
df.head()

,efile,EIN,taxpd,subseccd,totcntrbs,prgmservrev,duesassesmnts,othrinvstinc,grsamtsalesastothr,basisalesexpnsothr,...,grsprft,othrevnue,totrevnue,totexpns,totexcessyr,othrchgsnetassetfnd,networthend,totassetsend,totliabend,totnetassetsend
0,P,412081753,200902,3,377007,241254,0,0,0,0,...,0,0,618261,610241,8020,0,13980,77489,69469,8020
1,P,812619085,201912,4,580090,0,3050,31,0,0,...,0,0,583171,589216,-6045,0,58283,58183,0,58183
2,P,680558032,200812,3,174939,397003,0,0,0,0,...,0,0,571942,590996,-19054,0,3113,122208,119095,3113
3,P,391165683,202006,8,377417,0,14883,0,0,0,...,0,0,439313,429123,10190,0,20571,20571,0,20571
4,P,237411199,201912,3,253385,73018,7220,81432,0,0,...,0,0,415054,193684,221370,35759,499101,529101,30000,499101

## Descriptive Stats

The goal of descriptive statistics is to summarize and describe the main features of a dataset, such as its central tendency, variability, and distribution. This is done by calculating summary measures such as the mean, median, mode, range, variance, and standard deviation. Descriptive statistics can be used to provide insight into a dataset, to identify patterns and trends, and to compare different datasets.

In [90]:
# List of variables to find outliers
variables = ['duesassesmnts', 'othrinvstinc', 'grsamtsalesastothr',
       'basisalesexpnsothr', 'gnsaleofastothr', 'grsincgaming',
       'grsrevnuefndrsng', 'direxpns', 'netincfndrsng', 'grsalesminusret',
       'costgoodsold', 'grsprft', 'othrevnue', 'totrevnue', 'totexpns',
       'totexcessyr', 'othrchgsnetassetfnd', 'networthend', 'totassetsend',
       'totliabend', 'totnetassetsend']

In [221]:
df[variables].describe()

,duesassesmnts,othrinvstinc,grsamtsalesastothr,basisalesexpnsothr,gnsaleofastothr,grsincgaming,grsrevnuefndrsng,direxpns,netincfndrsng,grsalesminusret,...,grsprft,othrevnue,totrevnue,totexpns,totexcessyr,othrchgsnetassetfnd,networthend,totassetsend,totliabend,totnetassetsend
count,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,...,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00
mean,22716.95,1297.92,546.87,127.38,419.48,344.20,3856.88,922.07,3308.38,1348.68,...,1036.46,5882.43,180047.47,154779.30,25268.17,477.72,125665.20,145758.34,21712.98,124045.36
std,52527.64,9178.21,7302.82,2409.89,6540.95,5749.26,15922.73,5108.96,15547.34,11202.29,...,10630.44,22921.55,17172.50,81333.26,80495.52,35264.88,134267.93,120193.28,83683.99,133187.12
min,0.00,-9961.00,-2756.00,-6781.00,-31929.00,0.00,0.00,-96993.00,-33980.00,0.00,...,-28765.00,-800.00,161070.00,0.00,-6139058.00,-2265523.00,-3672286.00,-252031.00,-59067.00,-3672286.00
25%,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,169031.75,130944.50,181.75,0.00,40700.50,53048.75,0.00,39166.75
50%,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,178196.00,159228.50,18562.50,0.00,98767.50,114649.00,0.00,97307.50
75%,0.00,87.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,189028.25,180577.75,46822.50,0.00,187241.25,208069.00,10436.00,185845.50
max,404430.00,227228.00,250000.00,169790.00,194637.00,192101.00,200269.00,326350.00,303790.00,220761.00,...,220761.00,294907.00,618261.00,6326566.00,345971.00,464141.00,1655231.00,812511.00,4138108.00,812511.00

In [225]:
# Flag Organizations with negative results
df['negrevenue_flag'] = np.where(df.totexcessyr < 0, True, False)

In [231]:
# Organizations by revenue results
df.groupby('negrevenue_flag').count()[['EIN']]

                  EIN
negrevenue_flag
False            7606
True             2394

In [237]:
# Descriptive stats
df.loc[df['negrevenue_flag'] == True]['totexcessyr'].describe()

count       2394.00
mean      -28434.60
std       134756.03
min     -6139058.00
25%       -30301.50
50%       -13549.50
75%        -4989.50
max          -11.00
Name: totexcessyr, dtype: float64

In [238]:
df.loc[df['negrevenue_flag'] == False]['totexcessyr'].describe()

count     7606.00
mean     42171.20
std      40145.15
min          0.00
25%      12843.00
50%      29879.00
75%      58682.25
max     345971.00
Name: totexcessyr, dtype: float64

## Outliers

In this section, we look for outliers organizations. 

These organizations have reported variables related to their income, balance sheet and net assets that are either too low or high when compared to the rest of the organizations in the sample.

In [147]:
diccionario = {}
diccionario_df = {}
ein_outliers = []

# Iterate variables and save descriptive stats and outliers
for variable in variables:
    
    # Descriptive Stats
    stats_rtdo = d.describe()
    
    # Outliers
    d = df[variable]

    # Calculate the z-scores of the data
    z_scores = stats.zscore(d)

    # Identify outliers as those with z-score greater than 3 or less than -3
    outliers = np.where(np.abs(z_scores) > 3)
    
    diccionario_df[variable] = df.iloc[outliers][['EIN',variable]]
    
    ein_outliers.append(df.iloc[outliers]['EIN'].tolist())
    for i in outliers[0]:
        outliers_rtdo = f'EIN: {df["EIN"][i]} - OUTLIER: {data[i]}'
        
    diccionario[variable] = [stats_rtdo, outliers_rtdo]

In [200]:
# Variables, its descriptive stats and outliers found in each one
pd.DataFrame.from_dict(diccionario, orient = 'index', columns = ['Descriptive Stats', 'Outliers'])#.to_clipboard()

,Descriptive Stats,Outliers
duesassesmnts,count 10000.00 mean 124045.36 std ...,EIN: 362865965 - OUTLIER: 0
othrinvstinc,count 10000.00 mean 22716.95 std 5...,EIN: 521448231 - OUTLIER: 4410
grsamtsalesastothr,count 10000.00 mean 1297.92 std ...,EIN: 341016629 - OUTLIER: 20613
basisalesexpnsothr,count 10000.00 mean 546.87 std ...,EIN: 852055700 - OUTLIER: 126294
gnsaleofastothr,count 10000.00 mean 127.38 std ...,EIN: 341016629 - OUTLIER: 20613
grsincgaming,count 10000.00 mean 419.48 std ...,EIN: 453140320 - OUTLIER: 36225
grsrevnuefndrsng,count 10000.00 mean 344.20 std ...,EIN: 824648559 - OUTLIER: 101910
direxpns,count 10000.00 mean 3856.88 std 1...,EIN: 203644359 - OUTLIER: 170174
netincfndrsng,count 10000.00 mean 922.07 std ...,EIN: 824648559 - OUTLIER: 101910
grsalesminusret,count 10000.00 mean 3308.38 std 1...,EIN: 113721388 - OUTLIER: 86170
costgoodsold,count 10000.00 mean 1348.68 std 1...,EIN: 480498473 - OUTLIER: 60406
grsprft,count 10000.00 mean 312.22 std 222...,EIN: 113721388 - OUTLIER: 86170
othrevnue,count 10000.00 mean 1036.46 std 1...,EIN: 270734241 - OUTLIER: 0
totrevnue,count 10000.00 mean 5882.43 std 2...,EIN: 841245863 - OUTLIER: 3583
totexpns,count 10000.00 mean 180047.47 std 1...,EIN: 814753150 - OUTLIER: 110000
totexcessyr,count 10000.00 mean 154779.30 std ...,EIN: 814753150 - OUTLIER: 110000
othrchgsnetassetfnd,count 10000.00 mean 25268.17 std ...,EIN: 20313142 - OUTLIER: 156097
networthend,count 10000.00 mean 477.72 std ...,EIN: 570934039 - OUTLIER: 107010
totassetsend,count 10000.00 mean 125665.20 std ...,EIN: 356019448 - OUTLIER: 92791
totliabend,count 10000.00 mean 145758.34 std ...,EIN: 742635503 - OUTLIER: 98596
totnetassetsend,count 10000.00 mean 21712.98 std ...,EIN: 570934039 - OUTLIER: 107010

In [222]:
# List the EINs and the quantity of times it has an outlier
counter = collections.Counter(list(itertools.chain(*ein_outliers)))

In [210]:
# The top 3 organizations with more outliers
counter.most_common(3)

[(463181957, 8), (900929137, 6), (900513264, 6)]

In [220]:
# Find the outlier variables and values for each EIN
top_ein_outliers = [463181957,900929137,900513264]
for ein in top_ein_outliers:
    print(ein)
    for variable in variables: 
        if not diccionario_df[variable].loc[diccionario_df[variable]['EIN'] == ein].empty:
            print (variable)
            print(diccionario_df[variable].loc[diccionario_df[variable]['EIN'] == ein])
    print('----------------------------')

463181957
grsalesminusret
          EIN  grsalesminusret
13  463181957           118216
22  463181957           158274
grsprft
          EIN  grsprft
13  463181957   118216
22  463181957   158274
othrevnue
          EIN  othrevnue
13  463181957     118216
totrevnue
          EIN  totrevnue
13  463181957     354648
22  463181957     316548
totexcessyr
          EIN  totexcessyr
13  463181957       302798
----------------------------
900929137
duesassesmnts
          EIN  duesassesmnts
25  900929137         198801
29  900929137         198801
totrevnue
          EIN  totrevnue
25  900929137     306546
29  900929137     296235
totassetsend
          EIN  totassetsend
25  900929137        566517
29  900929137        526363
----------------------------
900513264
grsincgaming
            EIN  grsincgaming
26    900513264        151895
1860  900513264        192101
grsrevnuefndrsng
          EIN  grsrevnuefndrsng
26  900513264            151895
netincfndrsng
            EIN  netincfndrsng
26    900513264         303790
1860  900513264         192101
totrevnue
          EIN  totrevnue
26  900513264     303790
----------------------------